/* Tipo de letra */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
}
/* MAIN */
.offer{
    background-color: orangered;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 20px;
    margin-top: 15%;
    margin-left: 8%;
    margin-right: 8%;
}
.pollo_asado{
    padding-left: 6%;
    max-width: 35%;
}
.offer_letters{
    width: 65%;
    text-align: right;
    padding-right: 5%;
    padding-top: 5%;
}
.offer_letter_white{
    color: white;
}
.offer_text{
    font-weight: 200;
}
.offer_percent{
    font-weight: 700;
    font-size: 1.5rem;
}
/* Pizzes */
.pizzas{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 433px;
    width: 90%;
    margin-left: 5%;
    margin-top: 7%;
}
.pizza_1{
    background-color: #D6D9EB;
    height: 27%;
    width: 44%;
    border-radius: 20px;
    font-size: 6px;
    padding-left: 2%;
    margin-top: 25%;
}
.img_pizza1{
    margin-top: -37%;
    margin-bottom: -25%;
    margin-left: 9%;
    height: 76%;
    width: 91%;
}
.pizza_2{
    background-color: #D6D9EB;
    height: 27%;
    width: 44%;
    border-radius: 20px;
    margin-top: 25%;
    margin-left: 28px;
    font-size: 6px;
    padding-left: 2%;
}
.img_pizza2{
    margin-top: -37%;
    margin-bottom: -25%;
    margin-left: 14%;
    height: 86%;
    width: 64%;
}
.pizza_3{
    background-color: #D6D9EB;
    height: 27%;
    width: 44%;
    border-radius: 20px;
    margin-top: 25%;
    font-size: 6px;
    padding-left: 2%;
    
}
.img_pizza3{
    margin-top: -37%;
    margin-bottom: -25%;
    margin-left: -2%;
    height: 76%;
    width: 103%;
}
.pizza_4{
    background-color: #D6D9EB;
    height: 27%;
    width: 44%;
    border-radius: 20px;
    margin-top: 25%;
    margin-left: 28px;
    font-size: 6px;
    padding-left: 2%;
}
.img_pizza4{
    margin-top: -37%;
    margin-bottom: -25%;
    margin-left: 15%;
    height: 80%;
    width: 66%;
}
.pizza_price{
    margin-top: 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button_pizza{
    background-color: yellow;
    border-radius: 20px;
    height: 23px;
    width: 22px;
    font-weight: bolder;
}
.pizza_name{
    margin-top: 35px;
}
